<h1>Demo. This is the Home Page. Find this message in home/index</h1>

<%= content_tag :div,
  id: "problem_data",
  data: @problems.to_json do %>
<% end %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

